/*formateo*/

body {
    margin: 0px;
}

* {
    /*margin: 0px;*/
    font-family: 'Teko', sans-serif;
}

a {
    color: white !important;
    text-decoration: none !important;
}


h1, h2, h3, h4, {
    margin: 10px;
}

section {
    padding: 0 20px;
    max-width: 910px;
    margin: 0 auto;
}

/*header*/

.mainHeader {
    background-image: url("../images/background-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
}

.topBar {
    display: flex;
    padding: 8px 25px 0px 25px;
}

.topBar > a {
    padding-right: 40px;
}

.topBar .topBarPromo {
    width: 100%;
}

.topBar .topBarPromo marquee {
    width: 100%;
    color: white;
}

.topBar a {
    color: white;
    text-decoration: none;
}


.navBar {
    display: flex;
    justify-content: space-around;
    padding: 0px 10px 10px 10px;

}

.navBar .logo img {
    width: 140px;
}

.navBar .cart, .navBar .menu {
    padding-top: 6px;
}

.navBar .cart img, .navBar .menu img {
    width: 26px;
}

/*home*/

.homeFeature {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/slider.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: calc(100vh);
    min-height: calc(100vh - 150px);
    padding: 20px;
}

.homeFeature p {
    padding-top: 110px;
    padding-right: 100px;
    margin-bottom: 20px;
    color: white;
    font-size: 18px;
    line-height: 1.1em;
}

.homeFeature a {
    font-size: 24px;
    padding: 6px 40px;
    background-color: blueviolet;
}

.homeTeamDescription {
    text-align: center;
}

.homeTeamDescription h2{
    margin: 20px 0;
}

.homeTeamDescription img{
    max-width: 100%;
    margin-bottom: 20px;
}

.homeFeaturedCourser {
    text-align: center;
}

.homeFeaturedCourser img {
    max-width: 100%;
}

.homeFeaturedCourser a {
    font-size: 24px;
    padding: 6px 40px;
    background-color: blueviolet;
    display: block;
    text-align: center;
}

.homeCharacteristicsCourse {
    display: flex;
    flex-wrap: wrap;
}

.homeCharacteristicsCourse > div {
    width: 50%;
    text-align: center;
    padding: 10px;
}

.homeCharacteristicsCourse img {
    max-width: 100%;
}

/*Catálogo*/

.catalogCourses select{
    width: 100%;
    padding: 4px 10px;
    border-radius: 0px;
    margin-bottom: 30px;
}

.catalogCourses h1 {
    margin: 20px 0;
}

.catalogCourses h1, .catalogCourses p {
    text-align: center;
}

.catalogCards {
    display: flex;
    flex-wrap: wrap;
}

.catalogCards .card{
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    border: none;
}

.catalogCards .card img{
    margin: 20px 0;
}

.catalogCards .card .cardBody a{
    font-size: 24px;
    padding: 6px 40px;
    background-color: blueviolet;
    color: white;
    width: 100%;
    border-radius: 0;
}


/*Producto*/

.productFile .card {
    border: none;
}

.productFile .card img {
    margin: 20px 0;
}

.productFile .card ul {
    list-style: none;
    padding-left: 0px;
}

.productFile .card ul li {
    color: #4717F6;
}

.productFile .card a{
    font-size: 24px;
    padding: 6px 40px;
    background-color: blueviolet;
    color: white;
    width: 100%;
    border-radius: 0;
    margin-bottom: 20px;
}


/*footer*/

.mainFooter {
    background-image: url("../images/background-footer.jpg");
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
}

.mainFooter h2{
    color: white;
}

.mainFooter img {
    max-width: 100%;
}

.mainFooter ul {
    list-style: none;
    padding: 0;
}

.mainFooter ul li {
    padding-bottom: 5px;
    font-size: 20px;
}

.footerBusinessInfo p {
    color: white;
}

/*footer redes*/

.footerSocialMedia {
    text-align: center;
    margin-bottom: 20px;
}

.footerSocialMedia img{
    width: 50px;
    padding: 0 10px;
}

.footerSocialMedia form{
    margin-top: 20px;
}

/*subfooter*/

.subFooter {
text-align: center;
background-color: #E7DFDD;
}

.subFooter p {
    padding: 10px 0;
    margin-bottom: 0px;
    }